
<div class="container">

   <br />
    <div class="row">
            
        <div class="col-xl-8 order-xl-1 col-md-8 order-md-1 col-12">
            <div class=" bg-light">
            <h5>Master thesis (Deep Learning, Artificial Intelligence)</h5>
            <div>
                The thesis is located in the field of video-based driver assistance 
                systems.  The environment modelling of lane-supporting driver assistance 
                systems is currently supported by innovative AI algorithms.
                These have to be continuously improved by visionary ideas. 
                You are the pulse generator.
            </div>
            <br/>
            <div style="font-style: italic">
            <span>
                Posted by
            </span>
            <span>
                <a href="#">Engineering Department</a>                
            </span>
            </div>
            </div>
            <hr/>
            <div class=" bg-light">
                    <h5>Our futur perspective</h5>
                <img class="img-responsive" src="assets/img/t.png">
                <img class="img-responsive" src="assets/img/1.jpg">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                       
                        
                        
                </ul>
                <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="ucsm" role="tabpanel" aria-labelledby="ucsm-tab">
                            <h5>Your Thesis in company</h5>
                                <div style="line-break: loose">
                                        The DFG-funded Research Training Group (Graduate School) “User-Centred Social Media (UCSM)” aims at developing new models and methods for analyzing, designing and evaluating social media from a user perspective. The main research fields in the RTG are modelling and understanding user behavior, social media engineering, and social media analytics. The Interdisciplinary RTG brings together researchers from computer science and psychology at the Department of Computer Science and Applied Cognitive Science of the University of Duisburg-Essen.
                                    </div>
                                    <br/>
                                    <div style="font-style: italic">
                                    <span>
                                        Posted by
                                    </span>
                                    <span>
                                        <a>Forough Zarei</a>                
                                    </span>
                                    </div>
                        </div>
                       
                        
                </div>               
            </div>
        </div>
        <div class="col-xl-2 col-md-4 col-12">
            <h5>Important</h5>
            <div class="bg-light">      
            <a href="#">Toward an Open Learning Analytics Ecosystem</a>                    
            <br/><br/>
            <a href="#">Video annotation and analytics in CourseMapper</a> 
            <br/><br/>                            
            <a href="#">Learning Analytics: Challenges and Future Research Directions</a>
            <br/><br/>
            <a href="#">More...</a>
            </div>
        </div>
        <div class="col-xl-2 order-xl-2 col-md-12 order-md-2 col-12" >
            <h5 style="margin-left: -7px">P</h5>
            <div class="bg-light"> 

                    <img class="img-responsive" src="assets/img/is.png">
              
            </div>
            <br/>
            <div class="bg-light">                        
                <h5>Uni UDE</h5>
                <ul style="list-style: none;margin-left: -20px;">     
                    <li><a href="#">Perspective Students</a></li>                    
                    <br/>
                    <li><a href="#">Current Professor</a></li> 
                    <br/>                            
                    <li><a href="#">PhD Students</a></li>
                    <br/>                          
                    <li><a href="#">Staff</a></li>
                    <br/>                          
                    <li><a href="#">ISE</a></li>
                    <br/>                        
                    <li><a href="#">International</a></li>
                </ul> 
            </div>
        </div>
    </div>

<br/>
<br/>
<br/>
</div>
