<div class="row">
        
    <div class="col-md-12">
            <h5>Choose professors</h5>

        <div class="row" *ngFor="let master of professors;let i=index">
            <div class="col-md-12">
                <a
                        [routerLink]="['/profile', master.id]"
                        style="cursor: pointer"
                        class="list-group-item clearfix">
                    <div class="pull-right">
                        <h5>{{master.name}}</h5>
                        <p>{{master.description}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>