<div class="row">
          
    <div class="col-md-6">
    
        <a *ngFor="let subdep of subdepartments;let i=index"
           (click)="subDepartmentClick(i)"
           style="cursor: pointer"
           class="list-group-item clearfix">
           
            <div class="pull-right">
        
                <h5>{{subdep.name}}</h5>
                <p>{{subdep.description}}</p>
            </div>
        </a>
    </div>
    

    <div class="col-md-6">
        <app-subdepartmentmaster *ngIf="isMastersVisible" [professors]="professors"></app-subdepartmentmaster>
    </div>
</div>